/* app css stylesheet */

body {
  padding-top: 20px;
}

label {
  padding-right: 5px;
}

div.row {
  width: 200%;
}

input {
  border-radius: 5px;
}

form.form-inline {
  margin-bottom: 15px;
}

#sizeit{
  height: 25px;
  width: 105px;
}
.event-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}
span.inline {
  display: inline-block;
}
div.select > div {
  display: inline-block;
}
div.select > div > input {
  width: 200px;
  height: 30px;
  float: right;
}

ul.events {
  list-style: none;
  width: 80%;
}

div.select {
  margin-left: 40px;
  margin-bottom: 30px;
}
span.sort {
  margin-left: 10px;
}
.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-color: #fc0;
  border-radius: 50px;
}
form.form-inline {
  margin-left: 55px;
}
.events li {
  clear: both;
  height: 150px;
  padding-top: 15px;
}

/** Detail View **/
img.event {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.phone:first-child {
  display: block;
}


ul.events-thumbs {
  margin: 0;
  list-style: none;
}

ul.event-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.event-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.event-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

div#details > p{
  display: inline;
  vertical-align: top;
  font-weight: bold;

}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}

.inlinebtns {
  display: inline-block;
}
.details{
  display: inline;
}
.username.ng-valid {
 background-color: green;
}

.username.ng-dirty.ng-invalid-required {
background-color: red;
}

.username.ng-dirty.ng-invalid-minlength {
  background-color: lightpink;
}