


  <div ng-controller="EventListCtrl">
    <img id="detailimg" class="shadow" ng-src="static/images/{{eventdetail.image}}">
  </div>

<h1>{{eventdetail.title}}</h1><br>

<div id="details">
  <p>Date</p>
  <p>{{eventdetail.date | date}}</p>
  <p>Time </p>
  <p>{{eventdetail.start_time}} - {{eventdetail.end_time}}</p>
  <p>Venue </p>
  <p>{{eventdetail.venue}}</p>
</div><br>

      <div id="description" ng-bind="eventdetail.description"></div><br>
      <b><a id="url" href="{{eventdetail.url}}">{{eventdetail.url}}</a>
      <form class="inlinebtns" ng-submit="save(eventdetail)">
        <!-- <input type="text" ng-model="user.username">  -->

          <button class="btn pink"type="submit">SAVE</button>
      </form>
      <form class="inlinebtns">
          <button data-toggle="modal" data-target="#thisModal" class="btn pink" type="submit">SHARE</button>

      </form>
<div  class="modal fade" id="thisModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div  class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 style="font-size: 20px"class="modal-title" id="myModalLabel">Share Event</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="share(otheruser, eventdetail)">
          <label for="otheruser">Username</label>
          <input class="form-control" ng-model="otheruser" type="text" id="otheruser" name="otheruser"><br>
          <button type="submit" class="btn pink">Share it!</button>
        </form>
      </div>
    </div>
  </div>
</div>
