


  <div ng-controller="EventListCtrl as ctrl">
    <img id="detailimg" ng-src="static/images/{{eventdetail.image}}">
  </div>

<h1>{{eventdetail.title}}</h1><br>

<div id="details">
  <p>Date</p>
  <p>{{eventdetail.date | date}}</p>
  <p>Time </p>
  <p>{{eventdetail.start_time}} - {{eventdetail.end_time}}</p>
  <p>Venue </p>
  <p>{{eventdetail.venue}}</p>
</div><br>

      <div id="description" ng-bind="eventdetail.description"></div><br>
      <b><a id="url" href="{{eventdetail.url}}">{{eventdetail.url}}</a>
      <form class="inlinebtns" ng-submit="save(eventdetail)">
        <!-- <input type="text" ng-model="user.username">  -->

          <button class="btn pink"type="submit">SAVE</button>
          <button class="btn pink" type="submit">SHARE</button>

      </form>

