


  <div ng-controller="EventListCtrl" id="bigdiv">
    <img id="detailimg" class="shadow" ng-src="static/images/{{eventdetail.image}}">
    <div id="details">
        <h1>{{eventdetail.title}}</h1>
        <h3>Date: </h3>
        <p>{{eventdetail.date | date}}</p>
        <h3>Time: </h3>
        <p>{{eventdetail.start_time}} - {{eventdetail.end_time}}</p>
        <h3>Venue: </h3>
        <p>{{eventdetail.venue}}</p>
        <h3>Price: </h3>
        <p>{{eventdetail.price}}</p>
    </div>
  </div>

      <br><div id="description">{{eventdetail.description}}
        <a id="thisurl" target="_blank" href="{{eventdetail.url}}">Buy Tickets Here!</a>
      </div><br>
      <form class="inlinebtns" ng-submit="save(eventdetail)">


          <button class="btn blue"type="submit">SAVE</button>
      </form>
      <form class="inlinebtns">
          <button data-toggle="modal" data-target="#thisModal" class="btn blue" type="submit">SHARE</button>

      </form>
<div  class="modal fade" id="thisModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div  class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 style="font-size: 20px"class="modal-title" id="myModalLabel">Share Event</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="share(otheruser)" >
          <label for="otheruser">Username</label>
          <input class="form-control" ng-model="otheruser" type="text" id="otheruser" name="otheruser"><br>
          <button type="submit" class="btn blue">Share it!</button>
        </form>
      </div>
    </div>
  </div>
</div>
