



      <!--Body content-->

      <form id="moveit" class="form-inline" role="form">
          <div class="form-group">
            <div class="input-group">
              <input id="myradius" class="form-control" placeholder="Keyword, mm-dd-yyyy, venue, title..." ng-model="query" />
            </div>
          </div>
          <div class="form-group">
            <label class="grey" for="selectOptions">Sort Results </label>
            <select id="sizeit" class="inline" ng-model="orderProp">
              <option value="title">Alphabetical</option>
              <option value="date">Date</option>
            </select>
          </div>
      </form>
      <ul class="events">
          <li class="main" ng-repeat="event in events | filter:query | orderBy:orderProp" class="thumbnail">
            <a href="#/eventdetail/{{event.id}}" style="background-image: url(/static/images/{{event.image}})"class="thumb shadow">
            </a>

            <a class="eventlink" href="#/eventdetail/{{event.id}}">{{event.title}}<br><span id="size1">{{event.venue}}</span></a><br>
            <br><span id="size3">{{event.event_type}}</span><br>
            <br><span id="size2">{{event.date | date}}</span>

          </li>

      </ul>




